<h2 class="text-2xl font-extrabold tracking-tight text-gray-900">
  Store
</h2>

<div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
  <% @products.each do |product| %>
  <div class="group relative">
    <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
      <% if product.photo.representable? %>
      <%= image_tag product.photo %>
      <% end %>
    </div>
    <div class="mt-4 flex justify-between">
      <div>
        <h3 class="text-sm text-gray-700">
          <%= product.name %>
        </h3>
        <p class="mt-1 text-sm text-gray-500">
        <%= product.description %>
        </p>
      </div>
      <p class="text-sm font-medium text-gray-900">
      <%= number_to_currency product.price %>
      </p>
    </div>
    <div>
      <form action="/checkout" method="post" data-turbo="false">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="price" value="<%= product.stripe_price_id %>">
        <button type="submit" style="background-color: <%= @store.secondary_color %>" class="w-full mt-4 items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
          Buy
        </button>
      </form>
    </div>
  </div>
  <% end %>
</div>
